html {
  scroll-behavior: smooth;
  overscroll-behavior-x: auto;
  overscroll-behavior-y: none;
}

body {
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
}

.nav-bar-home {
  position: absolute;
  margin: auto;
  padding: 18px 36px;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(3.8px);
  backdrop-filter: blur(3.8px);
}

.logo {
}

.logo img {
  margin-left: 80px;
  width: 90px;
  height: auto;
}

.nav-bar-search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  max-width: 500px;
  width: 100%;
}

.search {
  border: none;
  outline: none;
  font-size: 15px;
  min-width: 400px;
}

.nav-bar-links ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-bar-links ul li a {
  color: var(--bg-card);
  font-weight: 500;
  font-size: var(--font-size-lg);
  transition: var(--transition--normal);
}
.nav-bar-links ul li a:hover {
  color: var(--color-primary-dark);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background: url("../assets/images/pexels-mtime-433312286-16262273.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 100px;
  top: 200px;
  max-width: 450px;
  max-height: 450px;
  padding: 50px 40px;
  border-radius: var(--border-radius);
  color: var(--bg-card);
  background: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(5.4px);
  backdrop-filter: blur(5.4px);
}

.hero-content p {
  font-size: 15px;
  line-height: 1.4;
  margin-top: 10px;
}

.hero-content h1 {
  font-size: 36px;
  font-weight: 700;
}

.hero-content h1 span {
  font-weight: 600;
  color: var(--color-primary);
  font-family: var(--font-family-heading);
}

.hero-btn {
  padding: 10px 22px;
  font-size: 15px;
  font-weight: 900;
  border-radius: 6px;
  background: var(--color-primary);
  color: var(--bg-card);
  margin-top: 10px;
  transition: var(--transition--normal);
}

.hero-btn:hover {
  background: var(--color-primary-dark);
}

.about-us-section {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 45%;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background: var(--bg-card);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.card h1 {
  font-family: var(--font-family-base);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-primary-dark);
}

.card p {
  font-size: var(--font-size-base);
  line-height: 1.8;
  color: var(--text-primary);
  overflow: hidden;
  font-family: var(--font-family-base);
}

.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.car-section {
  width: 85%;
  margin: 40px auto;
  font-family: var(--font-family-base);
}

.car-section h2 {
  font-size: var(--font-size-xl);
  margin-bottom: 25px;
  color: #111;
  border-left: 5px solid #ff0000;
  padding-left: 10px;
}

.popular-car-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.popular-car-card {
  background: var(--bg-card);
  border: 1px solid #eee;
  border-radius: var(--border-radius);
  padding: 40px;
  text-align: center;
  transition: var(--transition--normal);
  min-height: 280px;
}

.popular-car-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.popular-car-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 15px;
}

.popular-car-card h3 {
  font-size: var(--font-size-base);
  margin-bottom: 10px;
}

.popular-car-card .price {
  color: var(--text-primary);
  font-weight: bold;
}

.section {
  border: 1px solid;
  padding: 30px;
  margin: 10px;
}

.section-header {
  margin-bottom: 25px;
}

.brands-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 20px;
}

.brand-card {
  border: 1px solid;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 170px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.brand-card .brand-logo img {
  width: 100px;
  height: 100px;
}

.brand-card .brand-name {
  font-size: var(--font-size-sm);
  margin-top: -15px;
  padding-bottom: 20px;
}

#more-brands {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  margin-top: 20px;
}

.toggle-more {
  text-align: center;
  margin-top: 25px;
}

.toggle-btn {
  background: #fc1325;
  color: var(--bg-card);
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  font-size: var(--font-size-base);
  font-weight: 700;
  cursor: pointer;
}

.toggle-btn:hover {
  background: var(--color-primary-dark);
}

.tabs {
  margin-bottom: 20px;
}

.tab-links {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #dfdfdf;
}

.tab-link {
  flex: 1;
  text-align: center;
  position: relative;
}

.tab-link a {
  display: block;
  padding: 15px 10px;
  color: #6f6f6f;
  font-weight: 500;
  transition: color var(--transition-fast) linear;
}

.tab-link::after {
  content: "";
  width: 0;
  background: var(--color-primary);
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -1.5px;
  transition: all var(--transition-fast) linear;
}

.tab-link.active::after {
  width: 100%;
  left: 0;
}

.tab-link.active a {
  color: var(--text-dark);
}

.tab-content {
  padding: 25px 0;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.filter-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 15px;
}

.filter-option {
  padding: 8px 18px;
  font-size: var(--font-size-sm);
  text-align: center;
  border: 2px solid #56586a;
  border-radius: 20px;
  cursor: pointer;
}

.filter-option a {
  color: #111;
}

.price-option,
.fuel-option,
.body-option,
.more-option {
  margin-bottom: 5px;
}

.price-option a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: var(--font-size-sm);
}

.price-range {
  display: inline-block;
  text-align: center;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 200px;
  right: 40px;
  z-index: 0;
  background: none;
  border: none;
  cursor: pointer;
}

#back-to-top img {
  width: 50px;
  height: 50px;
  filter: invert(41%) sepia(54%) saturate(3474%) hue-rotate(327deg)
    brightness(96%) contrast(92%);
}

footer {
  background-color: var(--bg-footer);
  color: var(--text-light);
  padding: 60px 0 20px;
  font-family: var(--font-family-base);
}

.footer-container {
  width: 85%;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  margin-bottom: 40px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-info .footer-logo-container img {
  width: 90px;
}

.logo-text {
  font-size: 28px;
  font-weight: 700;
}

.tagline {
  line-height: 1.6;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  gap: 20px;
}

.link-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column-title {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text-light);
}

.link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link-list li a {
  color: var(--text-light);
  font-size: var(--font-size-sm);
  line-height: 20px;
  transition: color var(--transition--normal) ease;
}

.link-list li a:hover {
  color: var(--color-primary-dark);
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-link img {
  width: 30px;
  height: 30px;
}

.contact-link a {
  color: var(--text-light);
  font-size: var(--font-size-sm);
  transition: colorvar(--transition--normal) ease;
}

.contact-link a:hover {
  color: var(--color-primary-dark);
}

.contact-link span {
  font-size: var(--font-size-sm);
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-link {
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: allvar(--transition--normal) ease;
}

.social-link:hover {
  background: rgba(231, 76, 60, 0.2);
  transform: translateY(-2px);
}

.social-link img {
  width: 30px;
  height: 30px;
}

.social-links a {
  color: var(--text-white);
}

.footer-bottom {
  border-top: 1px solid #e5e7eb;
  padding-top: 25px;
  margin: 0 auto;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 50px 10px;
  font-size: 12px;
  color: #e5e7eb;
}

.footer-description {
  font-size: var(--font-size-sm);
}

.footer-description span {
  color: var(--color-primary);
}

.footer-credit {
  font-size: 12px;
  line-height: 18px;
  max-width: 800px;
}

.footer-copyright {
  text-align: center;
}
.nav-bar-services {
  position: sticky;
  z-index: 1000;
  padding: 18px 5%;
  background-color: var(--bg-footer);
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 30px;
  row-gap: 35px;
}

.car-card {
  background: var(--bg-card);
  border-radius: var(--border-radius);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transformvar(--transition--normal) ease,
    box-shadowvar(--transition--normal) ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.car-card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.car-card img {
  width: 100%;
  object-fit: cover;
  background: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 15px;
  flex-shrink: 0;
}

.car-card button {
  width: 100%;
  padding: 14px;
  background: var(--color-primary);
  color: var(--text-white);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}
.car-card button:hover {
  background: var(--color-primary-dark);
}

@media (max-width: 768px) {
  .nav-bar-home {
    padding: 15px 20px;
  }

  .logo img {
    margin-left: 0;
    width: 70px;
  }

  .nav-bar-links ul {
    gap: 15px;
  }

  .nav-bar-links ul li a {
    font-size: 16px;
  }

  .hero-content {
    position: relative;
    right: auto;
    top: auto;
    margin: 100px 20px 0;
    max-width: 90%;
    padding: 30px 20px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../assets/images/pexels-mtime-433312286-16262273.jpg");
  }

  .about-us-section {
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
    padding: 0 15px;
  }

  .card {
    flex: 1 1 100%;
    aspect-ratio: auto;
    padding: 30px 20px;
    height: auto;
  }

  .card h1 {
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
  }

  .card p {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
  }

  .photo-card {
    order: -1;
    aspect-ratio: 16 / 9;
  }

  .brands-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
  }

  .brand-card {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    width: 90%;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .social-links {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}

