*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.an-header {
  width: 100%;
  background: linear-gradient(to bottom, #eeeeee, #faf4f4);
  padding: 12px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.09);
}
.an-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.an-header-left .logo-text {
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  color: #d40000;
}
.an-header-left{
  text-decoration: none;

}
.an-header-middle {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.search {
  border: none;
  outline: none;
  font-size: 15px;
  min-width: 400px;
}

.an-header-right ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.an-header-right ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.an-header-right ul li a:hover {
  color: #e00000;
}